<div class="sc-wrapper width-100">
    <div class="sc-info">
        <h2 class="sc-info__title">No currency is as strong as steel.</h2>
        <h5 class="sc-info__description">
            Steelcoin is the world's first token to bring real steel to the blockchain. As a digital security from
            Austria, you can buy, sell, transfer Steelcoin or redeem it for steel products.
        </h5>
        <h6 class="sc-info__instruction">
            Want's to know more about Prices ? Please log in
        </h6>
    </div>
    <div class="sc-video">
        <video autoplay loop>
            <source src="https://steelcoin.com/uploads/videos/coin_spin_rotoscope_VP9.webm" type="video/mp4">
        </video>
    </div>
</div>
